#!/bin/bash
# Users of direnv can run `direnv allow .` here to automatically update the
# GOPATH to whatever directory this repository is cloned into, whenever they
# enter this directory or any descendent. https://direnv.net/

# record the prior Go binary path (for later usage in bin/go as an escape hatch
# when $USE_SYSTEM_GO is set)
SYSTEM_GO=$(command -v go)
export SYSTEM_GO

# eliminate any user custom $GOPATH, since the stdlib `layout go` merely prepends
GOPATH=$(pwd)
export GOPATH

# reduce unnecessary calls in the scripts to resolve WORKSPACE_ROOT
WORKSPACE_ROOT=$(pwd)
export WORKSPACE_ROOT

# prioritize tools/bazel over system installed. `tools/bazel` is a standard 
# location where a locally installed Bazel binary will first look for.
PATH_add tools

if [ -f .envrc.local ] ; then
    source_env .envrc.local
fi


