import (
	rest "k8s.io/client-go/rest"
	scheme "k8s.io/client-go/kubernetes/scheme"
	serializer "k8s.io/apimachinery/pkg/runtime/serializer"
)

func setConfigDefaults(config *rest.Config) {
	gv := GroupVersion
	config.GroupVersion = &gv
	config.APIPath = "/apis"
	config.NegotiatedSerializer = serializer.NewCodecFactory(scheme.Scheme)
	config.UserAgent = rest.DefaultKubernetesUserAgent()
}
